<% title "Criteria" %>
<p> <%= link_to "Back to the rankings", rankings_url %> </p>

<p><%= link_to "Add a new criterion", new_criterion_path %></p>

<% @criteria.each do |criterion| %>
  <%= render 'form', :@criterion => criterion %>
<% end %>

<p> <%= link_to "Back to the rankings", rankings_url %> </p>
