<strong>Ideas:</strong>
<%= link_to 'Add a new idea', new_idea_url %>

<ul id="ideas">
  <h4><%= @criterion.title if @criterion %></h4>
  <%= render @criterion.ideas if @criterion %>
</ul>
<%= sortable_element 'ideas', :url => sort_idea_url(:criterion) %>
