<% title "Rank your ideas by criterion" %>

<ul id="criteria">  
  <%= render @criteria %>
</ul>  
<%= sortable_element 'criteria', :url => sort_criterion_url(@criterion) %> 


<ul id="ideas">  
  <%= render @criterion.ideas %>
</ul>  
<div id="ideas_sort">
<%= sortable_element 'ideas', :url => sort_idea_url(@criterion) %> 
</div>

