<% title "Rank your ideas by criteria" %>
<p><%= link_to 'Final rankings for all of the ideas', rankings_ideas_url %></p>

<div class="criteria">
  <%= render 'criteria' %>
</div>

<div id="idea_rankings" style="border:solid 1px yellow; clear:both;">
  <%= render 'ideas' %>
</div>

<p><%= link_to 'Final rankings for all of the ideas', rankings_ideas_url %></p>
