<%= form_for idea ||= @idea do |f| %>
  <%= f.error_messages %>
  <p>
  <b>Add new idea:</b><br /> <%= f.text_field :concept, :size => 100 %>
  <%= f.submit %><br />
  (<b>Format:</b> Use a hyphen. <i>"Title of your idea - Main Concept"  </i>)
  </p>
<% end %>
