<%= content_tag_for :li, idea do %>  
  <p> <strong><%= link_to idea.title, idea_path(idea), :title => idea.concept %></strong> <br />
  <%= truncate(idea.concept, :length => 200) %>
  </p>
<% end %>  
