<% title @criteria.title %>
<p> <%= link_to "All Criterias", criterias_path %> </p>


<h1>Ideas</h1>  
<ul id="ideas">  
  <% @criteria.ideas.each do |idea| %>  
    <%= content_tag_for :li, idea do %>  
      <%= link_to idea.title, idea_path(idea) %>  
    <% end %>  
  <% end %>  
</ul>  
<%= sortable_element 'ideas', :url => sort_criteria_url(@criteria) %> 

